# fly.toml
app = "diamond-trading-bot-fly"
primary_region = "ams"

[env]
  PORT = "8000"
  FLY_APP_NAME = "diamond-trading-bot-fly"

[build]
  builder = "paketobuildpacks/builder:base"

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

[[http_service.checks]]
  grace_period = "1s"
  interval = "15s"
  method = "GET"
  path = "/health"
  timeout = "2s"
  tls_skip_verify = false
